<div class="panel panel-default">
  <div class="panel-heading">
  
    <h2><%= @question.title %></h2>
  </div>
  <div class="panel-body">
  <h4><%= @question.content %></h4>
    <div class="row">
    <div class="col-md-7"></div>
      <div class="col-md-5">
       <% @question.tags.each do |tag| %>
     <span class="badge"><%= link_to tag.title , tag%></span>
     <% end %>
        <span class="help-block"><i class="fa fa-clock-o"></i> <b><%=time_ago_in_words(@question.created_at)%> <br> </b> </span>
        <%= image_tag @question.user.profile.avatar.url(:medium), height: '30', width: '30' %>&nbsp;
        <%= link_to @question.user.profile.full_name , profile_path(@question.user.profile) %> <br> 
        Rütbe:<%= @question.user.roles.first.role %> <br>
        Reputation Point:<%= reputation(@question) %></b> <br>
      </div>
    </div>
        
    
     
  </div>
</div>
<div class="panel panel-default">
<div class="panel-heading"><%= render "answers/answer" %></div>
	<div class="panel-body">
	 <%= render "answers/form" %>
  </div>
</div>
 
 

<%= link_to "Geri", root_path, class: "btn btn-warning btn-geri" %>