<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Questions with <%= @tag.title %> Tag</h1>
  </div>  
  <ul class="list-group">
    <% @tag.questions.reverse.each do |question| %>
      <li class="list-group-item">
        <% question.tags.each do |tag| %>
          <span class="badge"><%= link_to tag.title , tag%></span>
        <% end %>
        <%= link_to question.title, question %>
        <% if user_signed_in? && current_user == question.user %>&nbsp;&nbsp;&nbsp;
          <span class="duzenle"><i class="fa fa-pencil"></i> <%= link_to "Düzenle", edit_question_path(question), class: "duzenle" %> </span>&nbsp;
          <span class="sil"><i class="fa fa-trash-o"></i> <%= link_to "Sil", question, method: :delete, data: {confirm: "Emin misin?"}, class: "sil" %></span>
        <% end %><br>
        <small class="help-block"><i class="fa fa-clock-o"></i> <%=time_ago_in_words(question.created_at)%>&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i> <%= link_to question.user.profile.full_name , profile_path(question.user)%>&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting-o"></i>&nbsp;<%= question.answers.count%>&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;<%= question.impressionist_count(:filter => :user_id) %></small>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to "Geri", tags_path, class: "btn btn-warning" %> <br>

